h1{color: #14fa1f}
a{color:#22e9ad}
body{background-color:#0717c3; font-size: 2em; line-height: 1.5;}
nav{color: #f7ad0d;background-color: #5c5555; padding:10px; margin-bottom: 30px;}
nav a{color: #ff1414;}
a:hover{color: #6b3cae;}
p{color:#ffffff}
.maxwidth {max-width: 100%;}
.flexwrap {flex-wrap: wrap;}
nav span {display: none;}
@media only screen and (max-width: 700px) {nav a{display: block; width:100%; margin-bottom: 10px;} nav span {display: none;}}